 body {
  color:#afafaf;
  font-family: ProximaNovaSoft-Semibold;
}
@font-face {
    font-family: ProximaNovaSoft-Semibold;
    src: url("ProximaNovaSoft-Semibold.otf") format("opentype");
}
.page-container {
  display:flex;
  overflow:hidden;
}
.page-container .container {
  display:inline;
  width:95.5%;
}
.page-container nav.left-sidebar {
  display:inline;
  background-color: white;
  width:4.5%;
}
.page-container nav.left-sidebar > ul {
  margin: 0;
  padding: 0;
}
.page-container nav.left-sidebar > ul > li > ul {
  margin: 0;
  display: block;
}
.page-container nav.left-sidebar > ul  > li {
  list-style-type:none;
  display:block;
}
.page-container nav.left-sidebar > ul > li.sidebar-top {
  min-height:10%;
}
.page-container nav.left-sidebar > ul > li.sidebar-center {
  display:flex;
  align-items:center;
  min-height:80%;
}
.page-container nav.left-sidebar > ul > li.sidebar-bottom {
  min-height:10%;
}
.page-container nav.left-sidebar > ul > li.sidebar-center > ul {
  list-style-type:none;
  padding:0;
  width: 100%;
}
.page-container nav.left-sidebar > ul  > li.sidebar-center > ul > li {
  list-style-type:none;
  float: left;
  display:block;
  width:55px;
  margin: 0 0 35px 0;
}
.page-container nav.left-sidebar  ul  li button {
  list-style-type:none;
  width: 100%;
  height:40px;
  margin:5px;
  float: left;
  display: flex;
}
.page-container nav.left-sidebar a button{
  border:none;
  padding-left:33.33%;
  background-color:white;
}
.page-container nav.left-sidebar li.active {
  border-left:groove;
  border-left-color:#4ac34a;
}
.page-container nav.left-sidebar li.active button:hover {
  background-color:white;
}
.page-container nav.left-sidebar ul  li.active button {
  color:#4ac34a;
}
/*
.page-container nav.left-sidebar ul button:hover {
  background-color:#4ac34a;
  color:white;
}
*/
.page-container nav.left-sidebar > ul > li.sidebar-top a button i.fa-google {
  font-size:20px;
  outline:none;
}

.card-heading .fa-pencil{
  color:#afafaf;
  margin-left:1rem;
}
.green {
  color:green;
}
.grey-color {
  color:#c5cbd0;
}
.black {
  color:black;
}



.container nav.topnav {
 /* overflow: hidden;*/
  background-color: white;
}
.container nav.topnav ul {
  margin: 0;
  width:100%;
  padding:0;
}
.container nav.topnav ul > li.topnav-left {
  max-width:50%;
  list-style-type:none;
}
.container nav.topnav ul > li.topnav-right {
  max-width:40%;
  display:inline-flex;
  float:right;
}
nav.topnav ul > li {
  list-style-type:none;
  margin:0;
}
nav.topnav ul > li > ul {
  margin: 0;
  display: block;
  list-style-type:none;
  padding:0;
  width: 100%;
}
nav.topnav ul > li > ul > a > li {
  list-style-type:none;
  list-style-type:none;
  float: left;
  display:block;
  padding:10px 16px;
}
.topnav-right a button span.badge-notify {
  color: white;
  background: #ef5151;
  position: relative;
  top: -9px;
  left: -9px;
  border-radius: 50%;
  font-size: 13px;
  padding: 1.5px;
  padding-left: 3px;
  padding-right: 3px;
}
.container img.profile-pic {
  border-radius: 50%;
  width:43px;
}
.container nav.topnav input.placeholder {
    color:#c5cbd0;
    opacity: 1;
}

nav.topnav input:focus::-webkit-input-placeholder {
    color: #888b8c;
}
.container nav.topnav ul li.topnav-left {
  margin:0;
  display:inline;
}

.container nav.topnav input.search-bar {
  width:45%;
  border:none;
  margin-top:1%;
  padding-left:5px;
  font-size:15px;
  outline:none;
}
.container nav.topnav button.search-icon {
  width:3rem;
  height:2rem;
  border:none;
  background-color:white;
  color:#c5cbd0;
}
.container .topnav-right .fa {
  border:none;
  margin-top:10px;
  background-color:white;
  color:#c5cbd0;
}

.container nav.topnav a:link,nav.topnav a:visited {
  text-decoration:none;
  background-color: white;
  text-align: center;
  font-color:#fffeee;
  color:black;
}
.container .topnav-right a button{
  border:none;
  background-color:white;
}
.page-container .container nav.topnav a {
  float: left;
  text-align: center;
  font-size: 17px;
}
.container .topnav-right .fa {
  border:none;
  margin-top:10px;
  background-color:white;
  color:#c5cbd0;
}

.container nav.topnav a:link,nav.topnav a:visited {
  text-decoration:none;
  background-color: white;
  text-align: center;
  font-color:#fffeee;
  color:black;
}




.container .page-content {
  max-height:92%;
  width:100%;
  display:inline-flex;
  overflow: -moz-scrollbars-none
}
.container .page-content .right-sidebar {
  background-color:white;
  width:21.5%;
  max-height:100%;
  margin-left:2em;
}
.right-sidebar .info .letter-circle {
  margin-top: 2.5%;
  border-radius: 50%;
  width: 19%;
  height: 8%;
  font-size: 25px;
  color:#478fe2;
  background-color:#b5d3f6;
  border: none;
  padding:11px;
}
.right-sidebar .info .letter-circle .letters {
  text-align: center;
  margin-top:24%;
}
.right-sidebar .info .right-sidebar-name {
  padding-top:16px;
  font-size:20px;
  color:black;
}
.right-sidebar .info .right-sidebar-city {
  padding-top:10px;
  font-size:13px;
}
.right-sidebar .info .letter-circle .letters a span.badge-edit {
  background: white;
  position: relative;
  float:right;
  left: 13px;
  border-radius: 50%;
  font-size: 13px;
  padding: 11px;
}

.right-sidebar .info  img.right-sidebar-icon , .right-sidebar .history-details .history-row .history-icon img.right-sidebar-icon {
  height:31px;
  width:31px;
  margin-top:11px;
}

.right-sidebar .info  img.image-circle  , .right-sidebar .history-details .history-row .history-icon img.image-circle  {
  border-radius: 50%;
  border: none;
}
.right-sidebar .parents legend, .history {
  margin-top:20px;
  padding-bottom:20px;
  font-size:16px;
  text-align:left;
}
.right-sidebar .parents .parents-details {
  margin-top : 15px;
}
.right-sidebar .parents .parents-details .half-width .letter-circle-icon {
  text-align:center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 15px;
  background-color: #f2f5f9;
  border: none;
  padding:10px;
  margin-top:-7px;
}
.right-sidebar .parents .parents-details .half-width .letter-circle-icon .icon-letters {
  text-align: center;
  margin-top:-2px;
  margin-left:-3px;
  float:left;
}
.right-sidebar .parents .parents-details .half-width {
  width:50px;
  float:left;
  margin-left:23%;
}
.right-sidebar .parents .parents-details .margin-right-100 {
  margin-right:73px;
  font-size:14.8px;
  font-weight: bold;
}
.right-sidebar .parents .email {
  text-align:center;
  display:flex;
  margin-bottom:5px;
}
.right-sidebar .parents .email .width50 {
  width:50%;
  display: inline-block;
}
.right-sidebar .parents .email .width50 a.email-id {
  text-decoration:none;
  color:#0452e0;
  font-size:13.5px;
}
.right-sidebar .parents .margintop10px {
  margin-top:10px;
}
button {
  border:none;
}
.right-sidebar .parents  button span.fa-envelope-o {
  padding-right:16px;
  color:#95c5ff;
}
.right-sidebar .parents  button.bttn-blue {
  margin-top:20px;
  border:none;
  color:white;
  background-color:#4779d3;
  border-radius:5%;
  height:30px;
  width:59%;
  font-size:11.85px;
}
.right-sidebar .parents .email .label {
  margin-left:30px;
}
.right-sidebar .parents .email .value {
  margin-right:50px;
  font-size: 14px;
}
.right-sidebar .history-heading {
  padding-top:3px;
}
.right-sidebar .history-details {
  height: 35%;
  font-size: 13.5px;
}
.right-sidebar .history-details .history-row {
  width:100%;
}

.right-sidebar .history-details .history-row .history-icon {
  width: 20%;
  display:inline;
}
.right-sidebar .history-details .history-row .history-icon img {
  margin-top:10px;
}
.right-sidebar .history-details .history-row .history-detail {
  margin-left:15px;
  margin-top:15px;
  text-align:left;
  width: 80%;
  display: -webkit-inline-box;
}
.right-sidebar .history-details .history-row .history-detail .history-detail-text {
  display:inline-block;
  width:80%;
}
.right-sidebar .history-details .history-row .history-detail .history-detail-date {
  height:10%;
  display:inline-block;
}
.right-sidebar .history-details .greyscale {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
}
.right-sidebar .history-details .history-row .history-detail .history-detail-text a:link , .history-detail-text  a:visited {
  color:#6c94dd;
}





.page-container .container .page-content .main-content {
  background-color:#f5f7f8;
  height:90%;
  width:76.5%;
  box-shadow: 0px 100px 3px 0px rgba(226, 226, 226, 0.3);
}
.main-content .content-header {
  height:10%;
  display:block;
}
.main-content .content-header .heading {
  font-size:27px;
  float:left;
  margin-top:27px;
  margin-left:15px;
}
.main-content .content-header .heading-right {
  float:right;
  margin-right:80px;
}
.main-content .content-header .heading-right .payment-history {
  margin-top:25px;
  margin-right: 30px;
  height: 37px;
  width: 169px;
}
.main-content .content {
  max-height:95%;
  width:98%;
  overflow-y:scroll;
  margin-top:8px;
  margin-left:15px;
}
.main-content .content .content-heading {
  height:25px;
  display:inline-flex;
}
.main-content .content .content-heading .content-heading-name {
  float:left;
  font-size:14px;
  padding-right:5px;
  margin-top: 17px;
}
.main-content .content .payments,.main-content .content .academy {
  width: 100%;
  margin: 0 auto;
  
}
.main-content .content .card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 21em;
  width: 21.5em;
  font-size: 14px;
  border: 1px solid #eee;
  float: left;
}

.main-content .content .card .settings {
  float:right;
  margin-right:10px;
  margin-top:10px;
}
.main-content .content .card .amount {
  height:50px;
  width:100%;
  margin-bottom:7%;
}
.main-content .content .card .amount  .money-circle {
  margin-top: 3.5%;
  border-radius: 50%;
  width: 13%;
  height: 57%;
  font-size: 19px;
  border: none;
  padding-left: 13px;
  padding-bottom: 13px;
  padding-right: 16px;
  padding-top: 18px;
}
.content .payments .red .money-circle,
.content .payments,.content .academy .red .money-circle {
  background-color: #f9f3ef;
}
.content .payments .red .money-circle,
.content .payments,.content .academy .red .money-circle,
.content .payments .red .due-details,
.content .payments,.content  .academy .red .due-details {
  color:#e74062;
  font-weight:bold;
}
.content .payments .green .money-circle,
.content .payments,.content  .academy .green .money-circle {
  background-color: #f4f9e9;
}
.content .payments .green .money-circle,
.content .payments,.content  .academy .green .money-circle,
.content .payments .green .due-details,
.content .payments,.content  .academy .green .due-details {
  color:#50c350;
  font-weight:bold;
}
.content .payments .orange .money-circle,
.content .payments,.content  .academy .orange .money-circle {
  background-color: #fef5da;
}
.content .payments .orange .money-circle,
.content .payments,.content  .academy .orange .money-circle,
.content .payments .orange .due-details,
.content .payments,.content  .academy .orange .due-details {
  color:#fb9f24;
  font-weight:bold;
}
.fa-calendar-o {
  color:#afafaf;
}
.content  .card .settings i {
  color:#afafaf;
  font-size:17px;
}
.content  .card .card-heading {
  font-weight:bold;
  color:black;
  text-align:center;
  margin-bottom:7px;
}
.content  .card .card-description {
  text-align:center;
  line-height:1.6em;
  color:#afafaf;
  padding-left: 25px;
  padding-right: 25px;
}
.content  .card .action-buttons {
  text-align:center;
  margin-top:25px;
}
.content  .card .action-buttons .bttn-red {
  border:none;
  color:white;
  background-color:#e3324c;
  border-radius:5%;
  height:40px;
  width:115px;
  font-size:11.85px;
  text-align:center;
}
.content  .card .due-details {
  margin-top:34px;
  text-align:center;
}
.content  .card .action-buttons button.payment-button {
  height:40px;
  width:115px;
  margin-left:15px;
}
.content  .card .action-buttons button.record-payment-button {
  height: 40px;
  width:50%;
}
.fa-caret-down {
  padding-left:10px;
}
.bttn-white {
  border:none;
  color:#80838a;
  border-color:#c5cbd0;
  border-style:solid;
  border-width:2px;
  background-color:#f5f7f8;
  border-radius:5%;
}
.bttn-green {
  margin-top:25px;
  border:none;
  color:white;
  background-color:#51c75b;
  border-radius:5%;
  height: 37px;
  width: 169px;
}
div::-webkit-scrollbar-track {
  background-color: #f5f7f8 ;
}
div::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: grey;
}
div::-webkit-scrollbar-thumb {
  border-radius:20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #bcc2cb;
}
scrollbar {
   -moz-appearance: none ;
}
scrollbarbutton {
   -moz-appearance: none ;
}
thumb{
   -moz-appearance: none ;
}
scrollcorner {
  -moz-appearance: none;
}
scrollbar[orient="vertical"] {
    color:silver;
}