/****** Global Styles *********/

html {
  height:100%;
 }
 body {
  color:#afafaf;
  height:100%;
  margin:0;
  font-family: ProximaNovaSoft-Semibold;
}
button {
  border:none;
  outline:none;
}
@font-face {
  font-family: 'FontAwesome';
  src: url( "FontAwesome.otf");
}
@font-face {
    font-family: ProximaNovaSoft-Semibold;
    src: url("ProximaNovaSoft-Semibold.otf") format("opentype");
}
div::-webkit-scrollbar-track {
  background-color: #f5f7f8 ;
}
div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #808080;
}
div::-webkit-scrollbar-thumb {
  border-radius:20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #bcc2cb;
}
scrollbar {
   -moz-appearance: none ;
}
scrollbarbutton {
   -moz-appearance: none ;
}
thumb{
   -moz-appearance: none ;
}
scrollcorner {
  -moz-appearance: none;
}
scrollbar[orient="vertical"] {
    color:#c0c0c0;
}

/****** General Styles *********/

.border-radius-50 {
  border-radius:50%;
}
button.green {
  color:#008000;
}
.grey-color {
  color:#c5cbd0;
}
.black {
  color:#2e2d2d;
}
button.bttn-white {
  color:#80838a;
  border-color:#c5cbd0;
  border-style:solid;
  border-width:2px;
  background-color:#f5f7f8;
  border-radius:5%;
}
.heading-right button.bttn-green {
  color: #ffff;
  background-color: #51c75b;
  border-radius: 5%;
  height: 2.3rem;
  width: 11rem;
  border-color: #51c75b;
  border-style: solid;
  border-width: 2px;
}
button.bttn-blue {
  margin:auto;
  color:#ffffff;
  display: block;
  background-color:#4779d3;
  border-radius:5%;
  height:2.4em;
  width:16em;
  font-size:0.75rem;
}
.v-align-center {
  position: relative;
  top:50%;
  transform:translateY(-50%); 
}
.m-t-10 {
  margin-top:10px;
}
.m-r-20 {
  margin-right:20px;
}
.text-align-center {
  text-align: center;
}
button:hover, a:hover {
  cursor: pointer;
}

/****** LEFT - NAV *********/

.page-container {
  display:block;
  overflow:scroll;
}
.page-container .container {
  display:inline-block;
  width:95.5%;
}
nav.left-sidebar {
  display:inline;
  background-color: #ffffff;
}
nav.left-sidebar > ul {
  margin: 0;
  padding: 0;
  width:4.4%;
  float:left;
}
nav.left-sidebar > ul > li > ul {
  margin: 0;
  display: block;
}
nav.left-sidebar > ul  > li {
  list-style-type:none;
  display:block;
}
nav.left-sidebar > ul > li.sidebar-top {
  max-height:8.5%;
}
nav.left-sidebar > ul > li.sidebar-center {
  display:inline-flex;
  align-items:center;
  min-height:80%;
}
nav.left-sidebar > ul > li.sidebar-bottom {
  min-height:10%;
}
nav.left-sidebar > ul > li.sidebar-center > ul {
  list-style-type:none;
  padding-left: 0px;
  width: 100%;
}
nav.left-sidebar > ul > li.sidebar-center > ul > li {
  list-style-type:none;
  float: left;
  display:block;
  width: 100%;
  margin: 0 0 50% 0;
}
nav.left-sidebar ul li button:hover {
  background:#4ac34a;
}
nav.left-sidebar ul li button:hover i {
  color:#fff;
}
li.active button:hover {
  background:#4ac34a;
}
li.active:hover {
  border-left:2px groove #fff;
}
li.active button:hover i {
  color:#fff;
}
nav.left-sidebar ul li button {
  list-style-type:none;
  width: 95%;
  height:60px;
  float: left;
  display: flex;
}
nav.left-sidebar  ul  li button > i {
  margin-left:25%;
}
nav.left-sidebar a button{
  border:none;
  background-color:#ffffff;
}
nav.left-sidebar li.active {
  border-left:2px groove #4ac34a;
}
nav.left-sidebar li.active button:hover {
  background-color:#ffffff;
}
nav.left-sidebar ul  li.active button > i {
  color:#4ac34a;
}
a button i.fa-google {
  font-size:1.5rem;
  outline:none;
  height: 8.5%;
}
.card-heading .fa-pencil{
  color:#afafaf;
  margin-left:1rem;
}

/****** TOP - NAV *********/

nav.topnav {
  padding:1%;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
}
nav.topnav >  ul {
  margin: 0;
  padding:0;
}
nav.topnav ul > li.topnav-left {
  max-width:50%;
  margin: 0;
  display: inline;
}
nav.topnav ul > li.topnav-right {
  display:inline-flex;
  float:right;
}
nav.topnav ul > li {
  list-style-type:none;
}
nav.topnav ul > li.topnav-right > ul {
  display: block;
  list-style-type:none;
  padding:0;
  width: 100%;
}
nav.topnav ul > li.topnav-right > ul > a > li {
  list-style-type:none;
  float: right;
  display:block;
}
.topnav-right a button span.badge-notify {
  color: #ffffff;
  background: #ef5151;
  position: relative;
  top: -0.6rem;
  left: -0.6rem;
  font-size: 0.7rem;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.container img.profile-pic {
  height: 1.4em;
}
nav.topnav input.placeholder {
    color:#c5cbd0;
    opacity: 1;
}
nav.topnav input:focus::-webkit-input-placeholder {
    color: #888b8c;
}
nav.topnav ul li.topnav-left {
  margin:0;
}
nav.topnav input.search-bar {
  width:16%;
  border:none;
  height:1.75em;
  padding-left:0.7rem;
  font-size:0.9rem;
  outline:none;
}
nav.topnav button.search-icon {
  width:3rem;
  border:none;
  background-color:#ffffff;
  color:#c5cbd0;
  height: 23px;
}
.container .topnav-right .fa {
  border:none;
  background-color:#ffffff;
  color:#c5cbd0;
}
nav.topnav a:link,nav.topnav a:visited {
  text-decoration:none;
  background-color: #ffffff;
  text-align: center;
  color:black;
}
.container .topnav-right a button{
  border:none;
  background-color:#ffffff;
}
.page-container .container nav.topnav a {
  float: left;
  text-align: center;
  font-size: 1.1rem;
}
.container .topnav-right .fa {
  border:none;
  background-color:#ffffff;
  color:#c5cbd0;
}
nav.topnav a:link,nav.topnav a:visited {
  text-decoration:none;
  background-color: #ffffff;
  text-align: center;
  color:black;
}




.container .page-content {
  max-height:92%;
  width:100%;
  display:inline-flex;
  overflow: -moz-scrollbars-none
}

/****** Right - Sidebar *********/

.page-content .right-sidebar {
  background-color:#ffffff;
  width:21.5%;
  max-height:100%;
  margin-left:1em;
  overflow-y: scroll;
}
button.toggle-button {
  visibility: hidden;
}

.info .letter-circle {
  margin: 2.5% 36%;
  width: 5rem;
  height: 4rem;
  font-size: 1.5rem;
  color:#478fe2;
  background-color:#b5d3f6;
  border: none;
  padding:0.6rem;
}
.info .letter-circle .letters {
  text-align: center;
  margin-top:24%;
}
.info .right-sidebar-name {
  padding-top:1.5rem;
  font-size:1.2rem;
  color:#000000;
}
.info .right-sidebar-city {
  padding-top:0.5rem;
  font-size:0.8rem;
}
.letter-circle a span.badge-edit {
  background: #ffffff;
  position: relative;
  float:right;
  left: 0.5rem;
  bottom:0.2rem;
  font-size: 0.7rem;
  padding: 11.75px;
}
.info  img.right-sidebar-icon ,
.history-icon img.right-sidebar-icon {
  height:2em;
  width:2em;
  margin-top:11px;
}
.info  img.image-circle  , 
.history-icon img.image-circle  {
  border: none;
}
.right-sidebar legend, .history {
  margin-top:20px;
  font-size:1rem;
  text-align:left;
}
.right-sidebar .parents .parents-details {
  display: flex;
}
.half-width .letter-circle-icon {
  text-align:center;
  width: 1em;
  height: 1em;
  font-size: 1rem;
  background-color: #f2f5f9;
  border: none;
  padding:10px;
}
.letter-circle-icon .icon-letters {
  text-align: center;
  margin:0px 3px 2px 0px;
  float:left;
}
.parents-details .half-width {
  width: 50%;
}
.half-width .letter-icon-container {
  width: 30%;
  margin:auto;
}
.parents-details .parent-name {
  font-size:0.8rem; 
  text-align: center;
  margin: auto;
}
.parents .email {
  text-align:center;
  display:flex;
  margin-bottom:5px;
}
.email .parents-contact {
  display: inline-block;
}
.parents-contact a.email-id {
  text-decoration:none;
  color:#0452e0;
  font-size:0.75rem;
}
.parents  button span.fa-envelope-o {
  padding-right:16px;
  color:#95c5ff;
}
.parents .email .label {
  width: 45%;
  font-size:0.85rem;
  text-align:center;
}
.parents .email .value {
  width: 55%;
  font-size: 0.7rem;
  text-align:center;
}
.right-sidebar .history-heading {
  padding-top:3px;
}
.right-sidebar .history-details {
  max-height: 15em;
  overflow: scroll;
  font-size: 0.8rem;
}
.history-details .history-row {
  width:100%;
}
.history-row .history-icon {
  display:inline;
}
.history-row .history-icon img {
  border-radius: 50%;
}
.history-row .history-detail {
  margin:15px 0px 0px 15px;
  text-align:left;
  width: 75%;
  display: inline-block;
}
.history-detail .history-detail-text {
  display:block;
  font-size: 0.8rem;

}
 .history-detail .history-detail-date {
  display:inline-block;
}
.history-details .greyscale {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
}
.history-detail-text a:link ,
 .history-detail-text  a:visited {
  color:#6c94dd;
}



/****** Content *********/

.page-content .main-content {
  background-color:#f5f7f8;
  width: 76.5%;
  padding-left: 2%;
  box-shadow: 0px 100px 3px 0px rgba(226, 226, 226, 0.3);
  max-height: 91vh;
}
.main-content .content-header {
  height: 36px;
  display:block;
  margin-top: 15px;
}
.content-header .heading {
  font-size: 25px;
  display: inline-block;
}
.content-header .heading-right {
  float:right;
  margin-right:7%;
}
.heading-right button.payment-history {
  margin:0px 30px 0px 0px;
  height: 2.3rem;
  width: 11rem;
  position: relative;
}
.main-content .content {
  max-height:82.4vh;
  width:98%;
  margin:10px 0px;
  overflow-y:scroll;
  margin:8px 0px 0px 15px;
}
.content .content-heading {
  display:inline-flex;
}
.content-heading .content-heading-name {
  float:left;
  font-size:14px;
  padding-right:5px;
  margin: 15px 10px;
}
.content .payments,
.content .academy {
  width: 100%;
  margin: 0 auto;
  display:grid;
  background-color: #f5f7f8;
  grid-template-columns: repeat(auto-fill, minmax(max-content, 21.3rem));
  justify-content: center;
}
.main-content .content .payments::after,
.main-content .content .academy::after {
  content: "";
  clear: both;
  display: table;
}
.main-content .content .card {
  margin: 20px 13px 0px 20px;
  height: 21em;
  width: 21.5em;
  font-size: 14px;
  border: 1px solid #eee;
  float: left;
  background-color: #fff;
  transition: box-shadow .3s;
}
.content .card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.card .settings {
  float:right;
  margin:10px 10px 0px 0px;
}
.content .card .amount {
  height:2.5rem;
  width:100%;
  margin-bottom:7%;
}
.card .amount  .money-circle {
  margin: 3.5% 0px 0px calc(50% - 29px);
  border-radius: 50%;
  width: 35px;
  height: 1.5rem;
  font-size: 19px;
  border: none;
  padding: 18px 16px 13px 13px;
  text-align: center;
}
.red .due-details,
.red .due-details {
  color:#e74062;
  font-weight:bold;
}
.green .due-details,
.green .due-details {
  color:#50c350;
  font-weight:bold;
}
.orange .due-details,
.orange .due-details {
  color:#fb9f24;
  font-weight:bold;
}
.orange .money-circle,
.orange .money-circle {
  color:#fb9f24;
  font-weight:bold;
  background-color: #fcf5e0;
}
.green .money-circle,
.green .money-circle {
  color:#50c350;
  font-weight:bold;
  background-color:#f7fcec;
}
.red .money-circle,
.red .money-circle {
  color:#e74062;
  font-weight:bold;
  background-color: #faf2f2;
}

.fa-calendar-o {
  color:#afafaf;
}
.card .settings i {
  color:#afafaf;
  font-size:17px;
}
.card .card-heading {
  font-weight:bold;
  color:#000;
  text-align:center;
  margin-bottom:7px;
}
.card .card-description {
  text-align:center;
  line-height:1.6em;
  padding-left: 25px;
  padding-right: 25px;
}
.card .action-buttons {
  text-align:center;
  margin-top:25px;
}
.action-buttons .bttn-red {
  color:#fff;
  background-color:#e3324c;
  border-radius:5%;
  height:2.55rem;
  width:115px;
  font-size:11.85px;
  text-align:center;
}
.card .due-details {
  margin-top:34px;
  text-align:center;
}
 .action-buttons button.payment-button {
  height:2.5rem;
  width:7.4rem;
  margin-left:15px;
}
 .action-buttons button.record-payment-button {
  height: 2.5rem;
  width:9.5rem;
}
.fa-caret-down {
  padding-left:10px;
}
.parent-message-section {
  margin: 10px auto;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  #right-sidebar {
    position: fixed;
    width: 40%;
    padding: 0px 15px;
    height: 100%;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.75s; 
  }
  button.toggle-button {
    visibility: visible;
    position: fixed;
    z-index: 2;
    top: 88%;
    right: 2.75%;
    background-color: #eee;
    height: 39px;
    width: 37px;
    border-radius: 50%;
    outline: none; 
  }
  #right-sidebar.open {
    transform: translateX(0); 
  }
  .page-content .main-content {
    width:100%;
  }
  .page-content nav.topnav {
    width:100%;
  }
  .history-row .history-detail {
    margin: 5px 0px 0px 11px;
    font-size: 11.5px;
  }
  .content-header .heading {
    font-size:16px;
  }
  .heading-right button.payment-history {
    width:8rem;
    margin-right:10px;
  }
  .heading-right button.bttn-green {
    width:8rem;
  }
}
@media screen and (max-width: 566px) {
  .action-buttons button.record-payment-button {
    height: 1.5rem;
    width: 8.4rem;
  }
  .action-buttons .bttn-red {
    height:1.5rem;
    width:5.4rem;
    margin-left:15px;
    margin-bottom:5px;
  }
  .action-buttons button.payment-button {
    height: 1.5rem;
    width:5.4rem;
  }
  .topnav .topnav-left input.search-bar {
    width: 46px;
    padding-left:0px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .topnav-left input.search-bar:focus {
    width: 31%;
  }
  button.toggle-button {
    visibility: visible;
    position: fixed;
    visibility: visible;
    z-index: 5;
    top: 88%;
    right: 5.75%;
    background-color: #eee;
    height: 39px;
    width: 37px;
    border-radius: 50%;
  }
  #right-sidebar {
    width: 90%;
    height: 92%;
    top: 8%;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.75s;
    margin:0;
  }
  #right-sidebar.open {
    transform: translateX(0);
  }
  nav.left-sidebar {
    width: auto;
    display: block;
    float: none;
    width: 100%;
  }
  nav.left-sidebar > ul {
    width:100%;
    display: inline-flex;
    height:auto;
    float:left;
  }
  nav.left-sidebar > ul > li {
    display: inline;
    min-height: auto;
  }
  nav.left-sidebar > ul > li.sidebar-top {
    min-height: auto;
    width:10%;
  }
  nav.left-sidebar > ul > li.sidebar-bottom {
    display: inline-block;
    height:auto;
    min-height: auto;
    text-align:center;
    width:10%;
  }
  nav.left-sidebar > ul > li.sidebar-center {
    display: block;
    height:auto;
    min-height: auto;
    width:80%;
  }
  nav.left-sidebar > ul > li.sidebar-center > ul {
    display: inline-flex;
    height:auto;
    padding: 0;
  }
  nav.left-sidebar > ul > li.sidebar-center > ul > li {
    display: block;
    float: left;
    height:auto;
    margin: auto;
    width: auto;
  }
  nav.left-sidebar > ul > li.sidebar-center > ul > li.active {
    border-left:none;
    border-bottom:1px groove #4ac34a;;
  }
  .page-container .container {
    float: left;
    width: 100%;
    height: 92%;
  }
  .topnav-right ul a.profile-name-link {
    display: none;
  }
  nav.topnav ul > li.topnav-right > ul > a > li {
    margin-right: 12px;
  }
  nav.topnav ul > li.topnav-right > ul > a > li {
    position: relative;
    top: 50%;
    transform: translateY(50%);
  }
  .heading-right button.payment-history {
    width: 89px;
    height: 25px;
    margin: 0;
    margin-left: -2px;
    font-size: 9.9px;
  }
  .heading-right button.add-payment-btn {
    width: 89px;
    height: 25px;
    margin: 0;
    margin-left: -2px;
    font-size: 9.9px;
    }
  .content-header .heading {
    font-size:15px;
    float: left;
    margin:0;
  }
  .content-header .heading-right {
    margin:0;
    float: right;
  }
  .main-content .content-header {
    display:block;
    margin: 15px 20px 0px 25px;
  }
  .content .card {
    margin: 0;
    width: 93%;
    height:16.5rem;
  }
  .container img.profile-pic {
    height: 1.2em;
    position: relative;
    top: -5px;
  }
  .content .payments,
  .content .academy {
    width: 100%;
    margin: 0 auto;
    display:inline-block;
   }
}
@media screen and (max-width: 355px) {
  .card .due-details {
    margin-top: 5px 
  }
  button.payment-history > div {
    display: none;
  }
  .heading-right button.payment-history {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
   .heading-right button.payment-history:after {
     content: "\f1da";
     font-family: FontAwesome;
     position:absolute;
     margin:-7px 0px 0px -7px;
     font-size: 16px;
   }
   .heading-right button.bttn-green > div {
    display: none;
  }
  .heading-right button.bttn-green {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
   .heading-right button.bttn-green:after {
     content: "\f055";
     font-family: FontAwesome;
     position:absolute;
     font-size: 16px;
     margin:-7px 0px 0px -7px;
   }
}